<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 text-center">
  <h2> Login </h2>
  <div >
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" formControlName="username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" formControlName="password">
      </div>
      <div>
        <button type="submit" [disabled]="loading || loginForm.invalid" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
  <p>Normal user:- username: user password: user123</p>
  <p>Admin user:- username: admin password: admin123</p>
</div>